@import (less) '../core/less/_palette.less';

#introduction {
  background-color: @dark;
  color: @textWhite;

  .title {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 4em;
  }
}