@import (less) '../core/less/_palette.less';

#hommefemme {
  .bar--title, .bar--label {
    text-align: center;
  }

  .bar {
    margin: 4px;
    height: 10px;
    background-color: @bleu;
    border-radius: 10px;
    transition: width 1s;
  }

  .bar--male {
    background-color: @bleu;
  }

  .bar--female {
    background-color: @rouge;
  }
}