<div ng-controller="Section2Ctrl">
  <div parallax-background parallax-ratio="0.2" class="parallax-container parallax-2">
  </div>

  <div class="section section2" id="section_2" data-scrollspy-broadcast>
    <div class="container">
      <div class="header">
        <h1 class="title">Récapitulatif des temps</h1>
      </div>

      <div class="selectors">
        <span class="selector" ng-class="tabGenres['homme']" ng-click="clicGenre('homme')">Hommes</span>
        <span class="selector" ng-class="tabGenres['femme']" ng-click="clicGenre('femme')">Femmes</span>
        <br/>
        <br/>
        <span class="selector" ng-class="tabCat['ju']" ng-click="clicCat('ju')" popover="Junior - 18 à 19 ans" popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="1000" popover-append-to-body="true">JU</span>
        <span class="selector" ng-class="tabCat['es']" ng-click="clicCat('es')" popover="Espoir - 20 à 22 ans" popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="1000" popover-append-to-body="true">ES</span>
        <span class="selector" ng-class="tabCat['se']" ng-click="clicCat('se')" popover="Senior - 23 à 39 ans" popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="1000" popover-append-to-body="true">SE</span>
        <span class="selector" ng-class="tabCat['v1']" ng-click="clicCat('v1')" popover="Vétéran 1 - 40 à 49 ans" popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="1000" popover-append-to-body="true">V1</span>
        <span class="selector" ng-class="tabCat['v2']" ng-click="clicCat('v2')" popover="Vétéran 2 - 50 à 59 ans" popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="1000" popover-append-to-body="true">V2</span>
        <span class="selector" ng-class="tabCat['v3']" ng-click="clicCat('v3')" popover="Vétéran 3 - 60 à 69 ans" popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="1000" popover-append-to-body="true">V3</span>
        <span class="selector" ng-class="tabCat['v4']" ng-click="clicCat('v4')" popover="Vétéran 4 - 70 ans et +" popover-trigger="mouseenter" popover-placement="bottom" popover-popup-delay="1000" popover-append-to-body="true">V4</span>
      </div>


      <div class="dv-header">

        <div class="section2-title">
          <h1 class="title">
            <ng-count-up from="0" to="25" duration="4"></ng-count-up>
            <small class="subtitle">coureurs</small>
          </h1>
        </div>

        <div class="podium second">
          2
        </div>
        <div class="podium first">
          1
        </div>
        <div class="podium third">
          3
        </div>

        <div class="value second">
          <ng-count-up from="0" to="20" duration="4"></ng-count-up> min
        </div>
        <div class="value first">
          <ng-count-up from="0" to="21" duration="4"></ng-count-up> min
        </div>
        <div class="value third">
          <ng-count-up from="0" to="22" duration="4"></ng-count-up> min
        </div>


      </div>


      <div class="row">
        <div class="col-md-12 dataviz bloc-dv5">
          <canvas id="dv5-1" height="20px"></canvas>
          <canvas id="dv5-2" height="20px"></canvas>
          <canvas id="dv5-3" height="20px"></canvas>
          <canvas id="dv5-4" height="20px"></canvas>
        </div>
      </div>






    </div>
  </div>
</div>
