@import (less) '../core/less/_palette.less';

#credits {
  text-align: center;

  .credit--list {
    max-width: 75%;
    margin: auto;
  }

  .credit--avatar {
    border-radius: 50%;
    width: 50%;
    height: auto;
  }

  .credit--label {
    text-align: center;
    padding: 0;
  }
}