<footer class="footer" data-scrollspy-broadcast id="footer">
  <div class="container">
    <p class="text">
      Pagé réalisée lors du workshop collaboratif DataSport de Ouest MediaLab (mai
      2015) en collaboration avec Ouest France. Créée avec
      <i class="fa fa-heart red"></i>
      par :
    </p>
    <ul class="ch-grid">
      <li>
        <div class="ch-item ch-img-1">
          <div class="ch-info">
            <h3>Julien Barret</h3>
            <p>Polytech'Nantes
              <br/><a href="https://fr.linkedin.com/pub/julien-barret/a6/802/957">
                <i class="fa fa-linkedin"></i>
              </a>
              &nbsp;<a href="http://julienbarret.ovh">
                <i class="fa fa-link"></i>
              </a>
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-2">
          <div class="ch-info">
            <h3>Mathieu Barré</h3>
            <p>Polytech'Nantes
              <br/><a href="https://fr.linkedin.com/pub/mathieu-barré/55/839/715">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-3">
          <div class="ch-info">
            <h3>Johanna Rolland</h3>
            <p>EDNA
              <br/><a href="https://fr.linkedin.com/pub/johanna-rolland/95/310/698/fr">
                <i class="fa fa-linkedin"></i>
              </a>&nbsp;<a href="http://olkstudio.com">
                <i class="fa fa-link"></i>
              </a>
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-4">
          <div class="ch-info">
            <h3>Valentin Amossé</h3>
            <p>EDNA
              <br/><a href="https://fr.linkedin.com/pub/valentin-amossé/69/699/b2/fr">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-5">
          <div class="ch-info">
            <h3>Guillaume Tricot</h3>
            <p>STAPS
              <br/></p>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-6">
          <div class="ch-info">
            <h3>Simon Arnout</h3>
            <p>STAPS
              <br/><a href="https://fr.linkedin.com/pub/simon-arnout/a6/a0/88a">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>
          </div>
        </div>
      </li>
      <li>
        <div class="ch-item ch-img-7">
          <div class="ch-info">
            <h3>Alexandre Gaviniaux</h3>
            <p>STAPS
              <br/><a href="https://fr.linkedin.com/in/alexandregavigniaux">
                <i class="fa fa-linkedin"></i>
              </a>
            </p>
          </div>
        </div>
      </li>
    </ul>
    <hr/>
    <p class="text">
      Nos partenaires :
    </p>
    <div class="row footer-partner-col">
      <a href="http://www.hyblab.fr/">
        <img alt="Hyblab DataSport" class="img-responsive center-block logo-footer"
          id="datasport" src="../../assets/images/footer/Hyblab DataSport.jpg"/>
      </a>
    </div>
    <div class="row footer-partner-col">
      <div class="col-md-3">
        <a href="http://www.ouestmedialab.fr/">
          <img alt="Ouest Médialab" class="img-responsive center-block logo-footer"
            src="../../assets/images/footer/LogoOML.png"/>
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.lecolededesign.com/">
          <img alt="Ecole de Design" class="img-responsive center-block logo-footer"
            src="../../assets/images/footer/logo-EDNA.png"/>
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.univ-nantes.fr/">
          <img alt="Université de Nantes" class="img-responsive center-block logo-footer"
            src="../../assets/images/footer/logo_univ_nantes.png"/>
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.polytech.univ-nantes.fr/">
          <img alt="Polytech Nantes" class="img-responsive center-block logo-footer"
            src="../../assets/images/footer/logo_polytech.png"/>
        </a>
      </div>
    </div>
    <div class="row footer-partner-col">
      <div class="col-md-3">
        <a href="http://http://www.ouest-france.fr//">
          <img alt="CREPS" class="img-responsive center-block logo-footer"
            src="../../assets/images/footer/logo-Ouest-France.jpg"/>
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.paysdelaloire.fr/">
          <img alt="Pays de La Loire" class="img-responsive center-block logo-footer"
            src="../../assets/images/footer/Region-pays-de-la-loire-300x300.jpg"/>
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.territoires-innovation.paysdelaloire.fr/">
          <img alt="Territoire d'innovation" class="img-responsive center-block logo-footer"
            src="../../assets/images/footer/PDL-Territoires-dInnovation.png"/>
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.nantesmetropole.fr/">
          <img alt="Nantes Métropole" class="img-responsive center-block logo-footer"
            src="../../assets/images/footer/Nantes-metropole.png"/>
        </a>
      </div>
    </div>
    <hr/>
  </div>
</footer>
