<div ng-include="'components/navbar/navbar.html'"></div>
<div class="wrapper" data-spy="scroll">

  <div ng-if="!loaded" class="loader-content">
    <div class="container loader">
      <center>
        <span class="dots"></span>
        <span class="dots"></span>
        <span class="dots"></span>
        <span class="dots"></span>
        <span class="dots"></span>
        <span class="dots"></span>
        <span class="dots"></span>
        <span class="dots"></span>
        <span class="dots"></span>
        <span class="dots"></span>
      </center>
    </div>
  </div>

  <div ng-if="loaded">
    <section1 data="{{dataSlide1}}"></section1>
    <section2 data="{{dataSlide2}}"></section2>
    <section3></section3>
  </div>

</div>


<div ng-include="'components/footer/footer.html'"></div>
