.wrapper {
  position: relative;
}
/*----------------------------------------------------------------------------------*\
     Bloc contenant l'image de parralaxe (on y ajoute une classe intégrant l'image)
\*----------------------------------------------------------------------------------*/
.parallax-container {
  height: 50vh;
  max-width: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}
/*------------------------------------*\
     Bloc texte de section
\*------------------------------------*/
.section {
  position: relative;
  min-height : 100vh;
  background-color: @background-color;
}
