@font-face {
  font-family: 'Rawengulk';
  src: url(assets/fonts/RawengulkUltralight.otf);
}
@font-face {
  font-family: 'Cassannet';
  src: url(assets/fonts/CassannetBold.otf);
}
#introduction {
  background: url(assets/img/cover.jpg);
  background-size: cover;
  background-position: top center;
  position: relative;
}
#introduction .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #232835;
  opacity: 0.5;
  z-index: 0;
}
#introduction .gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 18%;
  z-index: 50;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #252a37 99%, #232835 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(99%, #252a37), color-stop(100%, #232835));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #252a37 99%, #232835 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #252a37 99%, #232835 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #252a37 99%, #232835 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #252a37 99%, #232835 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#232835', GradientType=0);
  /* IE6-9 */
}
#introduction .intro--content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
#introduction .title {
  text-align: center;
  font-size: 2.5em;
  line-height: 2em;
}
#introduction .title--text {
  font-family: 'Cassannet', sans-serif;
  text-transform: uppercase;
  margin: 0;
}
#introduction .title--sep {
  font-family: 'Rawengulk';
  margin: 0;
  overflow: hidden;
}
#introduction .title--sep {
  margin: auto;
  overflow: hidden;
  width: 70%;
}
#introduction .title--sep:before {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-left: -100%;
  margin-right: 10px;
  border-top: 1px solid #efefed;
}
#introduction .title--sep:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid #efefed;
}
#description .description--last {
  padding-top: 40px;
}
#description .description--first {
  padding-bottom: 40px;
}
#description img {
  width: 50%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
}
#departements {
  background-color: #efefed;
  color: #232835;
}
#departements .map-container {
  position: relative;
}
#departements .map-container .dpt--infos {
  position: absolute;
}
#departements .map-container .dpt--age {
  width: 50px;
  height: 50px;
  background-color: red;
}
#departements .wrapper {
  height: 80%;
}
#hommefemme .bar--title,
#hommefemme .bar--label {
  text-align: center;
}
#hommefemme .bar--label p {
  font-size: 1.6em;
}
#hommefemme .bar {
  margin: 4px;
  height: 7px;
  width: 0%;
  border-radius: 10px;
  transition: width .5s;
  clear: both;
  display: block;
}
#hommefemme .bar--male {
  background-color: #5ac2df;
}
#hommefemme .bar--female {
  background-color: #ec6347;
}
#hommefemme .bar--right {
  float: right;
  margin-right: 0;
}
#hommefemme .bar--left {
  float: left;
  margin-left: 0;
}
#hommefemme .bar--icon {
  min-width: 16%;
  max-height: 31px;
  height: auto;
  margin: auto;
}
#hommefemme .bar--container {
  margin-top: 10px;
  margin-bottom: 10px;
}
#hommefemme hr {
  width: 50%;
  background-color: #efefed;
  margin: 16px auto;
}
#hommefemme h2 {
  font-size: 2em;
}
#credits {
  text-align: center;
}
#credits .credit--list {
  max-width: 75%;
  margin: auto;
}
#credits .credit--person {
  padding: 10px;
}
#credits .credit--avatar {
  border-radius: 50%;
  width: 50%;
  height: auto;
}
#credits .credit--label {
  text-align: center;
  margin: 0;
}
#credits .credit--school {
  font-size: 1.2em;
}
#region {
  background-color: #efefed;
  color: #232835;
}
#region .title--nb--licence {
  margin-top: 20px;
  margin-bottom: 10px;
}
#region .region--title {
  font-style: italic;
  font-weight: 300;
}
#region .comphf--style {
  margin-top: 10px;
  margin-bottom: 20px;
}
#region .icon--male {
  color: #2f81d3;
  font-size: 3em;
}
#region .icon--female {
  color: #ef4878;
  font-size: 3em;
}
#region .bar {
  margin: 4px;
  height: 7px;
  width: 0%;
  border-radius: 10px;
  transition: width 1s;
  clear: both;
  display: block;
}
#region .bar--male {
  background-color: #2f81d3;
}
#region .bar--female {
  background-color: #ef4878;
}
#region .bar--right {
  float: right;
  margin-right: 0;
}
#region .bar--left {
  float: left;
  margin-left: 0;
}
#region .bar--icon {
  width: 16%;
  height: auto;
  margin: auto;
}
#region .bar--container {
  margin-top: 10px;
  margin-bottom: 10px;
}
#region .nblicence {
  font-family: 'Cassannet';
  font-size: 7em;
}
#region .licence {
  font-weight: 300;
  font-size: 3em;
}
#region .bandeau--style {
  color: #efefed;
  background-color: #e85138;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 4px;
}
#region .bandeau--style p {
  margin: 5px;
}
#region .bandeau--style img {
  width: 30%;
  height: auto;
}
#region .bandeau--top {
  margin: 10px;
}
#region .bandeau--bottom p {
  font-weight: 200;
  font-style: italic;
}
#region .graphs--style {
  margin-top: 10px;
}
#region .bandeau--nb {
  font-style: normal;
  font-family: 'Cassannet';
  line-height: 0.5;
}
#region .bandeau--nb.big {
  font-size: 7em;
}
#region .bandeau--nb.medium {
  font-size: 4em;
}
#region .bandeau--nb.small {
  font-size: 3em;
}
#region .svg--podium {
  width: 50%;
  height: auto;
}
#region .bar--label--homme {
  text-align: right;
  font-style: italic;
  font-weight: 200;
  color: #2f81d3;
  font-size: 1.5em;
}
#region .bar--label--femme {
  font-style: italic;
  font-weight: 200;
  color: #ef4878;
  font-size: 1.5em;
}
#region .bar--label--pourhomme {
  font-style: italic;
  font-weight: 200;
  color: #2f81d3;
  float: right;
  margin: 0;
  line-height: 0;
}
#region .bar--label--pourfemme {
  font-style: italic;
  font-weight: 200;
  color: #ef4878;
  float: left;
  margin: 0;
  line-height: 0;
}
#region .text--inside {
  position: absolute;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  background-color: #232835;
  color: #efefed;
}
p,
span {
  font-size: 1.6em;
}
.section--wrapper {
  height: 100%;
  max-width: 960px;
  max-width: 90%;
  margin: 0 auto;
}
.height-100 {
  height: 100%;
}
.height-100vh {
  height: 100vh;
}
.center-block {
  margin: auto;
}
.m0 {
  margin: 0;
}
.tooltip {
  display: inline;
  position: relative;
}
.tooltip:hover:after {
  background-color: #e79634;
  color: #232835;
  content: attr(title);
  border-radius: 5px;
  right: 20%;
  top: -50px;
  padding: 5px 15px;
  position: absolute;
  z-index: 98;
  font-size: 2em;
}
#fp-nav ul li a span {
  background-color: #e79634;
}
.scale {
  -webkit-transition: all .5s;
  transition: all .5s;
}
.scale:hover {
  transform: scale(1.02);
}
.icon--red {
  color: #ec6347;
}
