@font-face {
  font-family: 'Rawengulk';
  src: url(assets/fonts/RawengulkUltralight.otf);
}
@font-face {
  font-family: 'Cassannet';
  src: url(assets/fonts/CassannetBold.otf);
}
#introduction {
  background: url(https://unsplash.imgix.net/photo-1417716226287-2f8cd2e80274?fit=crop&fm=jpg);
  background-size: cover;
  background-position: bottom center;
  position: relative;
}
#introduction .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: #232835;
  opacity: 0.5;
  z-index: 0;
}
#introduction .gradient {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 18%;
  z-index: 50;
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #252a37 99%, #232835 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(99%, #252a37), color-stop(100%, #232835));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #252a37 99%, #232835 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #252a37 99%, #232835 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(255, 255, 255, 0) 0%, #252a37 99%, #232835 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, #252a37 99%, #232835 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#232835', GradientType=0);
  /* IE6-9 */
}
#introduction .intro--content {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 100;
}
#introduction .title {
  text-align: center;
  font-size: 2.5em;
  line-height: 2em;
}
#introduction .title--text {
  font-family: 'Cassannet', sans-serif;
  text-transform: uppercase;
  margin: 0;
}
#introduction .title--sep {
  font-family: 'Rawengulk';
  margin: 0;
  overflow: hidden;
}
#introduction .title--sep {
  margin: auto;
  overflow: hidden;
  width: 70%;
}
#introduction .title--sep:before {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-left: -100%;
  margin-right: 10px;
  border-top: 1px solid #efefed;
}
#introduction .title--sep:after {
  content: "";
  display: inline-block;
  height: 0.5em;
  vertical-align: bottom;
  width: 100%;
  margin-right: -100%;
  margin-left: 10px;
  border-top: 1px solid #efefed;
}
#hommefemme .bar--title,
#hommefemme .bar--label {
  text-align: center;
}
#hommefemme .bar {
  margin: 4px;
  height: 10px;
  background-color: #5ac2df;
  border-radius: 10px;
  transition: width 1s;
}
#hommefemme .bar--male {
  background-color: #5ac2df;
}
#hommefemme .bar--female {
  background-color: #ec6347;
}
#credits {
  text-align: center;
}
#credits .credit--avatar {
  border-radius: 50%;
  width: 100%;
  height: auto;
}
#region .icon--male {
  color: #5ac2df;
  font-size: 3em;
  margin: -0.3em;
}
#region .icon--female {
  color: #ec6347;
  font-size: 3em;
  margin: -0.3em;
}
body {
  padding: 0;
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 62.5%;
  background-color: #232835;
  color: #efefed;
}
.section > div {
  height: 100%;
  max-width: 960px;
  min-width: 80%;
  margin: 0 auto;
}
.height-100 {
  height: 100%;
}
.height-100vh {
  height: 100vh;
}
.center-block {
  margin: auto;
}
