.section1-header {
  margin-bottom: 40px;
}

.section1-dataviz-header {
  margin-bottom: 40px;
}
.dv-map {
  height: 200px;
}
.dataviz {
  padding : 50px;
  background-color: #d44bc1;
}
.section1 {
  padding-top: 50px;
}
