/*------------------------------------*\
     Classe ajoutant l'image de fond au div
\*------------------------------------*/
.parallax-3 {
  background: url("../assets/images/image3.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.section3-title {
  padding-bottom: 15px;
  margin-bottom: 35px;
  border-bottom: 2px solid @noir;
}
