   
.wrapper {
  height: 100% !important;
  height: 100%;
  margin: 0 auto; 
  overflow: hidden;
}
.pointer {
  color: #9b59b6;
  font-family: 'Pacifico', cursive;
  font-size: 30px;
  margin-top: 15px;
}
.main {
  float: left;
  width: 100%;
  margin: 0 auto;
}
.clear {
  width: auto;
}
.main section  {
  position: relative;
  width:100%;
  height:100%;
  margin: 0px 0px 0px 0px;
}
.page1-h1{
  font:Lucida;
  font-size: 35px;
  position:absolute;
  top:15%;
  left: 30%;
}
section {
  background-size:100% 100%;
}

section.page0{
width:100% ;
height:100% ;  
background-size: 100%;  
background: url(../img/fonds/bleu_ombre_clair-01.svg) no-repeat center center;;
background-size: cover;
z-index: 1;
}

section.page1
{
  width:100% ;
  height:100% ;  
  background-size: 100%;  
  background: url(../img/fonds/turqoise_ombre.svg) no-repeat center center;
  background-size: cover;
  z-index: 15;
}

.page1_2{
  position:absolute;
  top:0%;
  left:0%;
  width:100% ;
  height:100% ;  
  background-size: 100%;  
  background: url(../img/fonds/bleu_ombre-01.svg) no-repeat center center;
  background-size: cover;
  z-index: 16;
  visibility: hidden;
}

section.page2
{
width:100% ;
  height:100% ;  
  background-size: 100%;  
background: url(../img/fonds/jaune_ombre_clair.svg) no-repeat center center;;
background-size: cover;
 z-index: 1;

}

section.page3
{
  width:100% ;
  height:100% ;  
  background-size: 100%;  
  background: url(../img/fonds/rose_ombre_clair.svg) no-repeat center center;
  background-size: cover;
}
section.page4
{
width:100% ;
height:100% ;  
background-size: 100%;  
background: url(../img/fonds/rouge_ombre_clair-01.svg) no-repeat center center;;
background-size: cover;
 z-index: 1;

}
section.page5
{
width:100% ;
height:100% ;  
background-size: 100%;  
background: url(../img/fonds/bleu_ombre_clair-01.svg) no-repeat center center;;
background-size: cover;
 z-index: 1;
}

body.disabled-onepage-scroll .onepage-wrapper  section {
  min-height: 100%;
  height: auto;
}
body, html {
  margin: 0;
  overflow: hidden;
  -webkit-transition: opacity 400ms;
  -moz-transition: opacity 400ms;
  transition: opacity 400ms;
}

body, .onepage-wrapper, html {
  display: block;
  position: static;
  padding: 0;
  width: 100%;
  height: 100%;
}

.onepage-wrapper {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  padding: 0;
  -webkit-transform-style: preserve-3d;
}

.onepage-wrapper .section {
  width: 100%;
  height: 100%;
}

.onepage-pagination {
  position: absolute;
  right: 10px;
  top:10% ;
  z-index: 5;
  list-style: none;
  margin: 0;
  padding: 0;
}
.onepage-pagination li {
  padding: 0;
  text-align: center;
}
.onepage-pagination li a{
  padding: 10px;
  width: 4px;
  height: 4px;
  display: block;
  
}
.onepage-pagination li a:before{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  background: white;
  border: 1px solid #152435;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  visibility: hidden;
}

.onepage-pagination li a.active:before{
  width: 15px;
  height: 15px;
  background: white;
  border: 1px solid #152435;
  margin-top: -4px;
  left: 8px;
    visibility: hidden;
}

.disabled-onepage-scroll, .disabled-onepage-scroll .wrapper {
  overflow: auto;
}

.disabled-onepage-scroll .onepage-wrapper .section {
  position: relative !important;
  top: auto !important;
  left: auto !important;
}
.disabled-onepage-scroll .onepage-wrapper {
  -webkit-transform: none !important;
  -moz-transform: none !important;
  transform: none !important;
  -ms-transform: none !important;
  min-height: 100%;
}


.disabled-onepage-scroll .onepage-pagination {
  display: none;
}

body.disabled-onepage-scroll, .disabled-onepage-scroll .onepage-wrapper, html {
  position: inherit;
}

.max_taille
{
  width:100%;
  height:100%;
}
.max_taille_region
{
  width:20%;
  height:100%;
}
.page1-region_alsace
{
  position:absolute;
  left:49.8%;
  background-size:100% 100%;
  top:21.7%;
  height:1.8%;
  width:1.8%;
  z-index: 10;
}

.page1-region_aquitaine
{
  position:absolute;
  left:52.3%;
  background-size:100% 100%;
  top:22.8%;
  height:3%;
  width:3%;
    z-index: 10;
}
.page1-region_aquitaine_plein{
   position:absolute;
  left:52.3%;
  background-size:100% 100%;
  top:22.8%;
  height:3%;
  width:3%;
  z-index: 9;
  visibility: hidden;
}
.page1-region_auvergne
{

  position:absolute;
  left:56.1%;
  background-size:100% 100%;
  top:25.1%;
  height:2.7%;
  width:2.7%;
  z-index: 10;

}
.page1-region_auvergne_plein{
    position:absolute;
  left:56.1%;
  background-size:100% 100%;
  top:25.1%;
  height:2.7%;
  width:2.7%;
    z-index: 9;
  visibility: hidden;
}
.page1-region_bourgogne
{

  position:absolute;
  left:59.2%;
  background-size:100% 100%;
  top:30.6%;
  height:2.7%;
  width:2.7%;
  z-index: 10;
}
.page1-region_bourgogne_plein{
   position:absolute;
  left:59.2%;
  background-size:100% 100%;
  top:30.6%;
  height:2.7%;
  width:2.7%;
    z-index: 9;
      visibility: hidden;  

}

.page1-region_bnormandie
{

  position:absolute;
  left:60.59%;
  background-size:100% 100%;
  top:38.5%;
  height:4%;
  width:4%;
  z-index: 10;
}
.page1-region_bnormandie_plein{
  position:absolute;
  left:60.59%;
  background-size:100% 100%;
  top:38.5%;
  height:4%;
  width:4%;
  z-index: 9;
  visibility: hidden;  
}
.page1-region_bretagne
{

  position:absolute;
  left:60%;
  background-size:100% 100%;
  top:47.3%;
  height:4.3%;
  width:4.3%;
  z-index: 10;

}
.page1-region_bretagne_plein{
    position:absolute;
  left:60%;
  background-size:100% 100%;
  top:47.3%;
  height:4.3%;
  width:4.3%;
  z-index: 9;
    visibility: hidden;  

}
.page1-region_cvaldefrance
{

  position:absolute;
  left:61.6%;
  background-size:100% 100%;
  top:54.1%;
  height:2.7%;
  width:2.7%;
  z-index: 10;
}
.page1-region_cvaldefrance_plein
{

  position:absolute;
  left:61.6%;
  background-size:100% 100%;
  top:54.1%;
  height:2.7%;
  width:2.7%;
  z-index: 9;
  visibility: hidden;  
}
.page1-region_champagne
{
  position:absolute;
  left:60%;
  background-size:100% 100%;
  top:61.8%;
  height:2.3%;
  width:2.3%; 
  z-index: 10;
}
.page1-region_champagne_plein
{
  position:absolute;
  left:60%;
  background-size:100% 100%;
  top:61.8%;
  height:2.3%;
  width:2.3%; 
  z-index: 9;
    visibility: hidden;  
}
.page1-region_franchecompte{
  position:absolute;
  left:55.8%;
  background-size:100% 100%;
  top:68.7%;
  height:4.3%;
  width:4.3%; 
  z-index: 10;
}
.page1-region_franchecompte_plein{
  position:absolute;
  left:55.7%;
  background-size:100% 100%;
  top:68.7%;
  height:4.3%;
  width:4.3%; 
  z-index: 9;
    visibility: hidden;  
}
.page1-region_hautenormandie{
  position:absolute;
  left:52.7%;
  background-size:100% 100%;
  top:71.8%;
  height:2.7%;
  width:2.7%; 
  z-index: 10;
}
.page1-region_hnormandie_plein{
  position:absolute;
  left:52.7%;
  background-size:100% 100%;
  top:71.8%;
  height:2.7%;
  width:2.7%; 
  z-index: 9;
    visibility: hidden;  
}
.page1-region_iledefrance{ 
  position:absolute;
  left:48.1%;
  background-size:100% 100%;
  top:74.3%;
  height:3%;
  width:3%; 
  z-index: 10;
}
.page1-region_iledefrance_plein{ 
  position:absolute;
  left:48.1%;
  background-size:100% 100%;
  top:74.3%;
  height:3%;
  width:3%; 
  z-index: 9;
    visibility: hidden;  
}
.page1-region_languedoc{
  position:absolute;
  left:44%;
  background-size:100% 100%;
  top:70.8%;
  height:3%;
  width:3%; 
  z-index: 10;
}
.page1-region_languedoc_plein{
  position:absolute;
  left:44%;
  background-size:100% 100%;
  top:70.8%;
  height:3%;
  width:3%; 
  z-index: 9;
    visibility: hidden;  
}
.page1-region_limousin{
  position:absolute;
  left:40.1%;
  background-size:100% 100%;
  top:68.3%;
  height:3%;
  width:3%; 
  z-index: 10;
}
.page1-region_limousin_plein{
  position:absolute;
  left:40.1%;
  background-size:100% 100%;
  top:68.3%;
  height:3%;
  width:3%; 
  z-index: 9;
    visibility: hidden;  
}
.page1-region_midi{
  position:absolute;
  left:37.27%;
  background-size:100% 100%;
  top:62.8%;
  height:3.7%;
  width:3.7%;  
  z-index: 10; 
}
.page1-region_midi_plein{
  position:absolute;
  left:37.27%;
  background-size:100% 100%;
  top:62.8%;
  height:3.7%;
  width:3.7%;  
    z-index: 9;
    visibility: hidden;  
}
.page1-region_nord{
  position:absolute;
  left:36%;
  background-size:100% 100%;
  top:55.3%;
  height:4.2%;
  width:4.2%;
  z-index: 10;
}
.page1-region_nord_plein{
  position:absolute;
  left:36%;
  background-size:100% 100%;
  top:55.3%;
  height:4.2%;
  width:4.2%;
    z-index: 9;
    visibility: hidden;  
}
.page1-region_paysloire{
  position:absolute;
  left:34.6%;
  background-size:100% 100%;
  top:45.3%;
  height:3.5%;
  width:3.5%;
  z-index: 10;
}
.page1-region_picardie{
  position:absolute;
  left:35.7%;
  background-size:100% 100%;
  top:37.5%;
  height:4.2%;
  width:4.2%; 
  z-index: 10;
}
.page1-region_picardie_plein{
  position:absolute;
  left:35.7%;
  background-size:100% 100%;
  top:37.5%;
  height:4.2%;
  width:4.2%; 
    z-index: 9;
    visibility: hidden;  
}
.page1-region_poitou{
  position:absolute;
  left:38%;
  background-size:100% 100%;
  top:29.5%;
  height:2.8%;
  width:2.8%;  
  z-index: 10;
}
.page1-region_poitou_plein{
  position:absolute;
  left:38%;
  background-size:100% 100%;
  top:29.5%;
  height:2.8%;
  width:2.8%;  
    z-index: 9;
    visibility: hidden;  
}
.page1-region_paca{
  position:absolute;
  left:41%;
  background-size:100% 100%;
  top:24%;
  height:4%;
  width:4%;     
  z-index: 10;
}
.page1-region_paca_plein{
  position:absolute;
  left:41%;
  background-size:100% 100%;
  top:24%;
  height:4%;
  width:4%;     
  z-index: 9;
  visibility: hidden;  
}
.page1-region_rhone{
  position:absolute;
  left:45.6%;
  background-size:100% 100%;
  top:22%;
  height:3.7%;
  width:3.7%;    
  z-index: 10;
}
.page1-region_rhone_plein{
  position:absolute;
  left:45.6%;
  background-size:100% 100%;
  top:22%;
  height:3.7%;
  width:3.7%;    
    z-index: 9;
    visibility: hidden;  
}
.page1-region_alsace_plein
{
  position:absolute;
  left:49.8%;
  background-size:100% 100%;
  top:21.7%;
  height:1.8%;
  width:1.8%;
  z-index: 9;
  visibility:hidden;
}
.page1-region_paysloire_plein{
  position:absolute;
  left:34.6%;
  background-size:100% 100%;
  top:45.3%;
  height:3.5%;
  width:3.5%;
  z-index: 9;
  visibility:hidden;  
}
.page1-region_alsace_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:36.7%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;
}
.page1-region_bourgogne_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:31.4%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;
}
.page1-region_iledefrance_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:29.4%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;
}
.page1-region_languedoc_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:37.4%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;
}
.page1-region_paca_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:33.4%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;
}
.page1-region_rhone_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:33.4%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;
}
.page1-region_nord_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:35.4%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;
}
.page1-region_paysloire_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:31.6%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;
}
.page1-region_bnormandie_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:31.6%;
  height:250%;
  width:250%;
  z-index: 1;
  visibility:hidden;
}
.page1-region_bretagne_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:31.6%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;  
}
.page1-region_aquitaine_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:46.6%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;  
}
.page1-region_languedoc_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:45.6%;
  height:220%;
  width:220%;
  z-index: 1;
  visibility:hidden;  
}
.page1-region_limousin_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:33.6%;
  height:220%;
  width:220%;
  z-index: 1;
  visibility:hidden;  
}
.page1-region_auvergne_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:31.6%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;  
}
.page1-region_cvaldefrance_image{
  position:absolute;
  left:42.5%;
  background-size:100% 100%;
  top:40.6%;
  height:250%;
  width:250%;
  z-index: 1;
  visibility:hidden;  
}
.page1-region_franchecompte_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:41.6%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;  
}
.page1-region_hnormandie_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:42.6%;
  height:220%;
  width:220%;
  z-index: 1;
  visibility:hidden;  
}
.page1-region_poitou_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:42.6%;
  height:220%;
  width:220%;
  z-index: 1;
  visibility:hidden;  
}
.page1-region_picardie_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:45.6%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;  
}
.page1-region_midi_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:35.6%;
  height:200%;
  width:200%;
  z-index: 1;
  visibility:hidden;  
}
.page1-region_champagne_image{
  position:absolute;
  left:43%;
  background-size:100% 100%;
  top:35.6%;
  height:230%;
  width:230%;
  z-index: 1;
  visibility:hidden;  
}
.ombre_bas_page
{
  position:absolute;
  left:35%;
  background-size:100% 100%;
  top:68%;
  height:30%;
  width:30%;    
}
.bouton_bas_page{
  position:absolute;
  left:48%;
  background-size:100% 100%;
  top:88%;
  height:10%;
  width:30%; 
  z-index: 10;
}
.bouton_haut_page{
  position:absolute;
  left:58%;
  background-size:100% 100%;
  top:3%;
  height:10%;
  width:30%; 
  z-index: 10;
}

.nous_sommes_ici{
  position:absolute;
  left:1.5%;
  background-size:100% 100%;
  top:88%;
  height:10%;
  width:10%; 
  z-index: 1;

}
.facebook{
  position:absolute;
  left:12%;
  background-size:100% 100%;
  top:91%;
  height:3%;
  width:3%;
  z-index: 10;
}
.twitter{
  position:absolute;
  left:14%;
  background-size:100% 100%;
  top:91%;
  height:3%;
  width:3%;
  z-index: 10;
}

.annee_2011{
  position:absolute;
  left:80%;
  background-size:100% 100%;
  top:50%;
  height:10%;
  width:10%;
  z-index: 1;
}

/* ---------Page 3---------- */
.titre{
  position:absolute;
  left:1.5%;
  background-size:100% 100%;
  top:-10%;
  height:40%;
  width:40%;
  z-index: 1; 
}
.datavizFemmes{
  position:absolute;
  left:20%;
  background-size:100% 100%;
  top:20%;
  height:55%;
  width:55%;
  z-index: 1;
}
.boutonAnnee2008p{
  position:absolute;
  left:44%;
  background-size:100% 100%;
  top:83%;
  height:10%;
  width:10%;
  z-index: 8;
  visibility: visible;
}
.boutonAnnee2008v{
  position:absolute;
  left:44%;
  background-size:100% 100%;
  top:83%;
  height:10%;
  width:10%;
  z-index: 9;
  visibility: visible;
}
.texteAnnee2008{
  position:absolute;
  left:42.2%;
  background-size:100% 100%;
  top:78%;
  height:5%;
  width:5%;
  z-index: 1;  
  visibility: visible;
}
.boutonAnnee2011p{
  position:absolute;
  left:49.5%;
  background-size:100% 100%;
  top:83%;
  height:10%;
  width:10%;
  z-index: 10;
  visibility: hidden;
}
.boutonAnnee2011v{
  position:absolute;
  left:49.5%;
  background-size:100% 100%;
  top:83%;
  height:10%;
  width:10%;
  z-index: 9;
  visibility: visible;
}
.texteAnnee2011{
  position:absolute;
  left:47.3%;
  background-size:100% 100%;
  top:78%;
  height:5%;
  width:5%;
  z-index: 1;  
  visibility: hidden;
}
.boutonAnnee2015p{
  position:absolute;
  left:55%;
  background-size:100% 100%;
  top:83%;
  height:10%;
  width:10%;
  z-index: 10;
  visibility: hidden;
}
.boutonAnnee2015v{
  position:absolute;
  left:55%;
  background-size:100% 100%;
  top:83%;
  height:10%;
  width:10%;
  z-index: 9;
  visibility: visible;

}
.texteAnnee2015{
  position:absolute;
  left:53.2%;
  background-size:100% 100%;
  top:78%;
  height:5%;
  width:5%;
  z-index: 1;  
  visibility: hidden;

}
.texteExpliFemmes{
  position:absolute;
  left:65%;
  background-size:100% 100%;
  top:35%;
  height:40%;
  width:40%;
  z-index: 1; 
  visibility: hidden;
}
.boutonExpliFemmes{
  position:absolute;
  left:90%;
  background-size:100% 100%;
  top:35%;
  height:10%;
  width:10%;
  z-index: 10; 
}

/** --------Page 1.2--------**/


.page1_2 .image_centre{
  position:absolute;
  left:25%;
  background-size:100% 100%;
  top:10%;
  height:50%;
  width:50%;
  z-index: 1;
}

.page1_2 .bouton_retour{
  ms-transform: rotate(90deg);
  moz-transform: rotate(90deg);
  webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  position:absolute;
  left:-12%;
  background-size:100% 100%;
  top:70%;
  height:10%;
  width:30%; 
  z-index: 10;
}
.page1_2 .ombre{
  position:absolute;
  left:30%;
  background-size:100% 100%;
  top:45%;
  height:40%;
  width:40%; 
}

.page1_2 .texte_gauche{
   position:absolute;
  left:10%;
  background-size:100% 100%;
  top:70%;
  height:18%;
  width:18%;
  z-index: 1; 
}

.page1_2 .texte_milieu{
   position:absolute;
  left:33%;
  background-size:100% 100%;
  top:70%;
  height:22%;
  width:22%;
  z-index: 1; 
}
.page1_2 .map_france{
  position:absolute;
  left:60%;
  background-size:100% 100%;
  top:70%;
  height:18%;
  width:18%;
  z-index: 1; 
}
.boutonAnnee2008pregion{
  position:absolute;
  left:89.5%;
  background-size:100% 100%;
  top:31.8%;
  height:10%;
  width:10%;
  z-index: 8;
}
.boutonAnnee2008vregion{
  position:absolute;
  left:89.5%;
  background-size:100% 100%;
  top:31.8%;
  height:10%;
  width:10%;
  z-index: 10;
}
.texteAnnee2008region{
  position:absolute;
  left:85.2%;
  background-size:100% 100%;
  top:30%;
  height:5%;
  width:5%;
  z-index: 1;  
}
.boutonAnnee2011pregion{
  position:absolute;
  left:89.5%;
  background-size:100% 100%;
  top:45%;
  height:10%;
  width:10%;
  z-index: 9;
}
.boutonAnnee2011vregion{
  position:absolute;
  left:89.5%;
  background-size:100% 100%;
  top:45%;
  height:10%;
  width:10%;
  z-index: 10;
}
.texteAnnee2011region{
  position:absolute;
  left:84.6%;
  background-size:100% 100%;
  top:43.5%;
  height:5%;
  width:5%;
  z-index: 1;  
}
.boutonAnnee2015pregion{
  position:absolute;
  left:89.5%;
  background-size:100% 100%;
  top:58.5%;
  height:10%;
  width:10%;
  z-index: 9;
}
.boutonAnnee2015vregion{
  position:absolute;
  left:89.5%;
  background-size:100% 100%;
  top:58.5%;
  height:10%;
  width:10%;
  z-index: 9;
}
.texteAnnee2015region{
  position:absolute;
  left:85.2%;
  background-size:100% 100%;
  top:57%;
  height:5%;
  width:5%;
  z-index: 1;  
}
/** Page 2 **/


.bouton_haut_page{
  position:absolute;
  left:48%;
  background-size:100% 100%;
  top:3%;
  height:10%;
  width:30%; 
  z-index: 10;
}

.dessin{

position:absolute;
  left:30%;
  background-size:100% 100%;
  top:10%;
  height:30%;
  width:30%; 
  z-index: 10;

}
.ombre1
{
  position:absolute;
  left:35%;
  background-size:100% 100%;
  top:60%;
  height:30%;
  width:30%;
  z-index: 1;    
}
.categorie_veteran{
  position:absolute;
  visibility: hidden;
  left:5%;
  background-size:100% 100%;
  top:35%;
  height:50%;
  width:50%;   
  z-index:1;
}
.texte_veteran{
  position:absolute;
  visibility:hidden;
  left:66.5%;
  background-size:100% 100%;
  top:32%;
  height:35%;
  width:35%;   
  z-index:1;
}




.podiumprenoms{
  position:absolute;
  left:20%;
  background-size:100% 100%;
  top:25%;
  height:60%;
  width:60%; 
  z-index: 1;
}
.pagefin{
 position:absolute;
  left:0%;
  background-size:100% 100%;
  top:0%;
  height:100%;
  width:100%; 
  z-index: 10; 
}

.acceuil{
  position:absolute;
  left:30%;
  background-size:100% 100%;
  top:30%;
  height:40%;
  width:40%; 
  z-index: 1;  
}
.bouton_acceuil{
  position:absolute;
  left:37.5%;
  background-size:100% 100%;
  top:43%;
  height:25%;
  width:25%; 
  z-index: 10; 
}