<footer class="footer">
  <div class="container">
    <hr/>
    <p class="text">
      Pagé réalisée lors du workshop collaboratif DataSport de Ouest MediaLab (mai 2015) en collaboration avec Ouest France.
      Créée avec <i class="fa fa-heart red"></i> par :
    </p>


        <ul class="ch-grid">
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <h3>Julien Barret</h3>
                <p>Polytech'Nantes <a href="http://drbl.in/eODP"><i class="fa fa-linkedin"></i>
                      </a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-2">
              <div class="ch-info">
                <h3>Mathieu Barré</h3>
                <p>Polytech'Nantes <a href="http://drbl.in/eODP"><i class="fa fa-linkedin"></i>
                      </a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-3">
              <div class="ch-info">
                <h3>Johanna Rolland</h3>
                <p>EDNA <a href="http://drbl.in/eODP"><i class="fa fa-linkedin"></i>
                      </a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-4">
              <div class="ch-info">
                <h3>Valentin Amossé</h3>
                <p>EDNA <a href="http://drbl.in/eODP"><i class="fa fa-linkedin"></i>
                      </a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-5">
              <div class="ch-info">
                <h3>Guillaume Tricot</h3>
                <p>STAPS<a href="http://drbl.in/eODP"><i class="fa fa-linkedin"></i>
                      </a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-6">
              <div class="ch-info">
                <h3>Simon Arnout</h3>
                <p>STAPS <a href="http://drbl.in/eODP"><i class="fa fa-linkedin"></i>
                      </a></p>
              </div>
            </div>
          </li>
          <li>
            <div class="ch-item ch-img-7">
              <div class="ch-info">
                <h3>Alexandre Gaviniaux</h3>
                <p>STAPS<a href="http://drbl.in/eODP"><i class="fa fa-linkedin"></i>
                      </a></p>
              </div>
            </div>
          </li>
        </ul>

        <hr/>

        <p class="text">
          Les partenaires  :
        </p>

    <div class="row footer-partner-col">
      <a href="http://www.hyblab.fr/">
        <img id="datasport" src="../../assets/images/footer/Hyblab DataSport.jpg" alt="Hyblab DataSport" class="img-responsive center-block logo-footer" />
      </a>
    </div>

    <div class="row footer-partner-col">
      <div class="col-md-3">
        <a href="http://www.ouestmedialab.fr/">
          <img src="../../assets/images/footer/LogoOML.png" alt="Ouest Médialab" class="img-responsive center-block logo-footer" />
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.lecolededesign.com/">
          <img src="../../assets/images/footer/logo-EDNA.png" alt="Ecole de Design" class="img-responsive center-block logo-footer" />
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.univ-nantes.fr/">
          <img src="../../assets/images/footer/logo_univ_nantes.png" alt="Université de Nantes" class="img-responsive center-block logo-footer" />
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.polytech.univ-nantes.fr/">
          <img src="../../assets/images/footer/logo_polytech.png" alt="Polytech Nantes" class="img-responsive center-block logo-footer" />
        </a>
      </div>
    </div>
    <div class="row footer-partner-col">
      <div class="col-md-3">
        <a href="http://http://www.ouest-france.fr//">
          <img src="../../assets/images/footer/logo-Ouest-France.jpg" alt="CREPS" class="img-responsive center-block logo-footer" />
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.paysdelaloire.fr/">
          <img src="../../assets/images/footer/Region-pays-de-la-loire-300x300.jpg" alt="Pays de La Loire" class="img-responsive center-block logo-footer" />
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.territoires-innovation.paysdelaloire.fr/">
          <img src="../../assets/images/footer/PDL-Territoires-dInnovation.png" alt="Territoire d'innovation" class="img-responsive  center-block logo-footer" />
        </a>
      </div>
      <div class="col-md-3">
        <a href="http://www.nantesmetropole.fr/">
          <img src="../../assets/images/footer/Nantes-metropole.png" alt="Nantes Métropole" class="img-responsive center-block logo-footer" />
        </a>
      </div>
    </div>




    <hr/>



  </div>
</footer>
