@import (less) '../core/less/_dimensions.less';

#description {
  .description--last {
    padding-top: @sep;
    margin-bottom: @sepXl;
  }

  .description--first {
    padding-bottom: @sep;
    margin-top: @sepXl;
  }

  img {
    width: 50%;
    height: auto;
    margin: auto;
    margin-bottom: @sep;
  }
}