<div class="row middle-xs center-xs">
	<div class="row ">
		<div class="col-xs-6">
			<div>
				<span ng-repeat='n in region.rangeMale'>
					<i class="male icon icon--male"> </i>
				</span>
				<span ng-repeat='n in region.rangeFemale'>
					<i class="female icon icon--female"> </i>
				</span>
			</div>
		</div>
		<div class="col-xs-6">
			<div>
				<span ng-repeat='n in region.rangeMale'>
					<i class="male icon icon--male"> </i>
				</span>
				<span ng-repeat='n in region.rangeFemale'>
					<i class="female icon icon--female"> </i>
				</span>
			</div>
		</div>
	</div>
	<div class="row ">
		<div class="col-xs-6">
			<div>
				<span ng-repeat='n in region.rangeMale'>
					<i class="male icon icon--male"> </i>
				</span>
				<span ng-repeat='n in region.rangeFemale'>
					<i class="female icon icon--female"> </i>
				</span>
			</div>
		</div>
		<div class="col-xs-6">
			<div>
				<span ng-repeat='n in region.rangeMale'>
					<i class="male icon icon--male"> </i>
				</span>
				<span ng-repeat='n in region.rangeFemale'>
					<i class="female icon icon--female"> </i>
				</span>
			</div>
		</div>
	</div>
</div>
