@import (less) '../core/less/_palette.less';

#region {



	.icon--male
	{
		color:@bleu;
		font-size: 3em;
		margin:-0.3em;

	}


	.icon--female
	{
		 color:@rouge;
		 font-size: 3em;
		 margin:-0.3em;
	}



    .circle {
    position: relative;
    width: 0px;
    height: 0px;
    top: 50px;
    left: 50px;
    -webkit-transition-duration: 2s;
    -webkit-transition-property: all;
    -webkit-transition-timing-function: ease-in-out;
    text-align: center;
    background: red;
    color: white;
    border-radius: 100%;
    padding: 20px;
    overflow: hidden;
    font-size:50px;
    color:#fff;
    line-height:500px;
    text-align:center;
    background:@rouge;
    
    font-family: sans-serif;  /* Just 'cos */
}

	.open {
    top: 0px;
    left: 0px;
    width: 100px;
    height: 100px;
}
}