@import (less) '../core/less/_palette.less';

#region {



	.icon--male
	{
		color:@bleu;
		font-size: 3em;
		margin:-0.3em;

	}


	.icon--female
	{
		 color:@rouge;
		 font-size: 3em;
		 margin:-0.3em;
	}
}